extends ../../../../system/views/admin/layout/admin

block appendcss
  link(rel='stylesheet', href='/public/system/admin/index.css')
  link(rel='stylesheet', href='/public/files/vendor/blueimp-file-upload-node/css/jquery.fileupload.css')
  link(rel='stylesheet', href='/public/files/vendor/cropper/dist/cropper.min.css')

block content
    
  h1.page-header
    | Galleries: 
    span(style="color: #666") #{galleryToShow.title} [Gallery Image List]
    div.row.placeholders

  //- h2 Details
  //- p 
  //-   b Title: 
  //-   | #{galleryToShow.title}
  //- p 
  //-   b Slug: 
  //-   | #{galleryToShow.slug}
  //- p 
  //-   b Comment: 
  //-   | #{galleryToShow.comment}
  //- 
  //- br
  //- 
  //- h2 Images
  
  table.table.table-hover
    thead
      tr
        th
          | Thumb
        th
          | Title
        th
          | Size (bytes)
        th
          | Type
        th
          | Modified
        th
    tbody
      each image in images
        tr
          td
            a(href="/admin/galleries/#{galleryToShow._id}/images/#{image._id}")
              img(src="#{image.url}", width="35", height="35")
          td
            a(href="/admin/galleries/#{galleryToShow._id}/images/#{image._id}")
              | #{image.title}
          td
            | #{image.size}
          td
            | #{image.mimetype}  
          td
            | #{image.modified || 'Never'}
          td
            .btn-group
                button.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false")
                  | Modify 
                  span.caret
                |   
                ul.dropdown-menu(role="menu")
                  li
                    a(href="/admin/galleries/#{galleryToShow._id}/images/#{image._id}/edit") Edit
                    // a(href="/admin/files/#{image._id}/edit") Edit
                  |     
                  li
                    a.deleteImage(href="#", data-id="#{image._id}") Delete

    tfoot
      tr
        th
          | Thumb
        th
          | Title
        th
          | Size (bytes)
        th
          | Type
        th
          | Modified 
        th
  
  a.btn.btn-default(href="/admin/files", style="margin-right: 5px;") &laquo;
  a.btn.btn-primary(href="#", data-toggle="modal", data-target="#uploadImagesModal", style="margin-right: 5px;") Import 
  .btn-group
    button.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false")
      | Modify 
      span.caret
    |   
    ul.dropdown-menu(role="menu")
      li
        a(href="/admin/galleries/#{galleryToShow._id}/edit") Edit
      li
        a.deleteGallery(href="#", data-id="#{galleryToShow._id}") Delete
            
  #uploadImagesModal.modal.fade(data-backdrop="static", data-keyboard="false", tabindex="-1", role="dialog", aria-labelledby="uploadImagesModalLabel")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title Upload Images
        #imageUploaderContainer.modal-body
        #imageUploaderMediaController.modal-footer

              
block appendjs
  script.
    window.urlreload = '/admin/galleries';
    window.galleryId = '#{galleryToShow._id}'
    window.csrf = '#{csrfToken}';
  script(src="/public/files/vendor/jquery-ui/jquery-ui.min.js")
  script(src="/public/files/vendor/blueimp-file-upload-node/js/jquery.iframe-transport.js")
  script(src="/public/files/vendor/blueimp-file-upload-node/js/jquery.fileupload.js")
  script(src="/public/files/vendor/cropper/dist/cropper.min.js")
  script(src="/public/galleries/admin/index.js")
