extends ../../../../system/views/admin/layout/admin

block appendcss
  link(rel='stylesheet', href='/public/system/admin/index.css')
  link(rel='stylesheet', href='/public/files/vendor/blueimp-file-upload-node/css/jquery.fileupload.css')
  link(rel='stylesheet', href='/public/files/vendor/cropper/dist/cropper.min.css')

block content
    
  h1.page-header
    | Files: 
    span(style="color: #666") List
    div.row.placeholders
  
  table.table.table-hover
    thead
      tr
        th
          | Thumb
        th
          | Title
        th
          | Size (bytes)
        th
          | Type
        th
          | Modified
        th
    tbody
      each file in files
        tr
          td
            a(href="/admin/files/#{file._id}")
              if ['image/jpg', 'image/jpeg', 'image/gif', 'image/png'].indexOf(file.mimetype) > -1
                img(src="#{file.url}", width="35", height="35")
              else if ['application/pdf'].indexOf(file.mimetype) > -1
                i.fa.fa-file-pdf-o.fa-3x
              else if ['image/tiff'].indexOf(file.mimetype) > -1
                i.fa.fa-file-image-o.fa-3x
              else if ['text/csv'].indexOf(file.mimetype) > -1
                i.fa.fa-file-excel-o.fa-3x
              else if ['application/x-gzip', 'application/zip', 'application/x-xz'].indexOf(file.mimetype) > -1
                i.fa.fa-file-archive-o.fa-3x
              else if ['text/html', 'text/javascript', 'text/css', 'application/octet-stream'].indexOf(file.mimetype) > -1
                i.fa.fa-file-code-o.fa-3x
              else 
                i.fa.fa-file-o.fa-3x
          td
            a(href="/admin/files/#{file._id}")
              | #{file.title}
          td
            | #{file.size}
          td
            | #{file.mimetype}  
          td
            | #{file.modified || 'Never'}
          td
            .btn-group
                button.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false")
                  | Modify 
                  span.caret
                |   
                ul.dropdown-menu(role="menu")
                  li
                    a(href="/admin/files/#{file._id}/edit") Edit
                  |     
                  li
                    a.deleteFile(href="#", data-id="#{file._id}") Delete

    tfoot
      tr
        th
          | Thumb
        th
          | Title
        th
          | Size (bytes)
        th
          | Type
        th
          | Modified 
        th
          
  a(href="#", data-toggle="modal", data-target="#uploadFilesModal").btn.btn-primary Upload
  
  - var nPages = Math.ceil(nFiles / 10);
  - var i = 0;
  
  if nPages > 0
    nav.pull-right
      ul.pagination
        li(class=(activePage == 0) ? 'disabled' : '')
          a(href="/admin/files/#{activePage-1}", aria-label="Previous")
            span(aria-hidden="true") &laquo;
            
        while i < nPages   
          li(class=(i == activePage) ? 'active' : '')
            a(href="/admin/files?page=#{i}")
              | #{++i} 
                
        li(class=(activePage < nPages-1) ? '' : 'disabled')
          a(href="/admin/files/#{activePage+1}", aria-label="Next")
            span(aria-hidden="true") &raquo;
            
            
  #uploadFilesModal.modal.fade(data-backdrop="static", data-keyboard="false", tabindex="-1", role="dialog", aria-labelledby="uploadFilesModalLabel")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title Upload Files
        #fileUploaderContainer.modal-body
          //
            span.btn.btn-success.fileinput-button
              i.glyphicon.glyphicon-plus
              span Select files...
              input#fileupload(type='file', name='files[]', multiple='')
            br
            br
            #progress.progress
              .progress-bar.progress-bar-success
            #files.files
        #fileUploaderMediaController.modal-footer
          //
            button.btn.btn-default(type='button', data-dismiss='modal') Close

              
block appendjs
  script.
    window.urlreload = -1;
    window.csrf = '#{csrfToken}';
  script(src="/public/files/vendor/jquery-ui/jquery-ui.min.js")
  script(src="/public/files/vendor/blueimp-file-upload-node/js/jquery.iframe-transport.js")
  script(src="/public/files/vendor/blueimp-file-upload-node/js/jquery.fileupload.js")
  script(src="/public/files/vendor/cropper/dist/cropper.min.js")
  script(src="/public/files/admin/index.js")
