extends ../../../../system/views/admin/layout/admin

block appendcss
  link(rel='stylesheet', href='/public/system/admin/index.css')
  link(rel='stylesheet', href='/public/files/vendor/blueimp-file-upload-node/css/jquery.fileupload.css')
  link(rel='stylesheet', href='/public/files/vendor/cropper/dist/cropper.min.css')

block content
  h1.page-header
    | Galleries: 
    span(style="color: #666") #{galleryToEdit.title} [Edit]
    div.row.placeholders
  form#editGallery.col-sm-8(method="PUT", action="/api/galleries/#{galleryToEdit._id}", autocomplete="off")
    .form-group
      label(for="inputTitle") Title
      input#inputTitle.form-control(type="text", name="title", value="#{galleryToEdit.title}", placeholder="Title (max 32 characters)", maxlength="32")
    .form-group
      label(for="inputSlug") Slug
      input#inputSlug.form-control(type="text", name="slug", value="#{galleryToEdit.slug}", placeholder="Slug (max 32 characters)", maxlength="32")
    .form-group
      label(for="inputComment") Comment 
      input#inputComment.form-control(type="text", name="comment", value="#{galleryToEdit.comment}", placeholder="Comment (max 64 characters)", maxlength="128")
    input(type="hidden", name="_csrf", value="#{csrfToken}")
    a.btn.btn-default(href="/admin/galleries/#{galleryToEdit._id}", style="margin-right: 5px;") Cancel
    button#editGalleryBtn.btn.btn-success(type="submit") Edit
    br
    br
    div#editGalleryError(class="alert alert-danger hidden", role="alert")
      b
        |	Ops! 
      span.message
        | No Errors

block appendjs
  script.
    window.urlreload = -1;
    window.galleryId = '#{galleryToEdit._id}'
    window.csrf = '#{csrfToken}';
  script(src="/public/files/vendor/jquery-ui/jquery-ui.min.js")
  script(src="/public/files/vendor/blueimp-file-upload-node/js/jquery.iframe-transport.js")
  script(src="/public/files/vendor/blueimp-file-upload-node/js/jquery.fileupload.js")
  script(src="/public/files/vendor/cropper/dist/cropper.min.js")
  script(src="/public/galleries/admin/index.js")
