extends ../../../../system/views/admin/layout/admin

block content
  h1.page-header
    | Images: 
    span(style="color: #666") #{imageToShow.title} [Details]
    div.row.placeholders
  form#editFile.col-sm-8(autocomplete="off")
    .form-group
      label(for="inputTitle") Title
      |     
      input#inputTitle.form-control(type="text", name="title", value="#{imageToShow.title}", placeholder="Title", disabled)
    .form-group
      label(for="inputDescription") Description
      |     
      textarea#inputDescription.form-control(name="description", placeholder="", disabled) #{imageToShow.description}
    | 
    .form-group
      label(for="inputTitle") Size (bytes)
      |     
      input#inputTitle.form-control(type="text", name="size", value="#{imageToShow.size}", placeholder="Size", disabled)  
    .form-group
      label(for="inputTitle") Type
      |     
      input#inputTitle.form-control(type="text", name="mimetype", value="#{imageToShow.mimetype}", placeholder="Mimetype", disabled)  
    .form-group
      label(for="inputTitle") Created
      |     
      input#inputTitle.form-control(type="text", name="created", value="#{imageToShow.created}", placeholder="Created", disabled)  
    .form-group
      label(for="inputTitle") Modified
      |     
      input#inputTitle.form-control(type="text", name="modified", value="#{imageToShow.created}", placeholder="Modified", disabled)  
    .checkbox
      label
        if imageToShow.private
          input(type="checkbox", name="private", value="1", checked, disabled)
        else 
          input(type="checkbox", name="private", value="1", disabled)
        |  Private
      
    a.btn.btn-default(href="/admin/galleries/#{gallery._id}", style="margin-right: 5px;") &laquo;
    .btn-group
        button.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false")
          | Modify 
          span.caret
        |   
        ul.dropdown-menu(role="menu")
          li
            a(href="/admin/galleries/#{gallery._id}/images/#{imageToShow._id}/edit") Edit
          | 
          li
            a.deleteImage(href="#", data-id="#{imageToShow._id}") Delete

block appendjs
  script.
    window.csrf = '#{csrfToken}';
    window.urlreload = '/admin/galleries/#{gallery._id}';
  script(src="/public/files/vendor/jquery-ui/jquery-ui.min.js")
  script(src="/public/files/vendor/blueimp-file-upload-node/js/jquery.iframe-transport.js")
  script(src="/public/files/vendor/blueimp-file-upload-node/js/jquery.fileupload.js")
  script(src="/public/files/vendor/cropper/dist/cropper.min.js")
  script(src="/public/galleries/admin/index.js")
