extends ../../../../system/views/admin/layout/admin

block content
  h1.page-header
    | Images: 
    span(style="color: #666") #{imageToEdit.title} [Edit]
    div.row.placeholders
  form#editImage.col-sm-8(method="PUT", action="/api/files/#{imageToEdit._id}", autocomplete="off")
    .form-group
      label(for="inputTitle") Title
      |     
      input#inputTitle.form-control(type="text", name="title", value="#{imageToEdit.title}", placeholder="Title")
    .form-group
      label(for="inputDescription") Description
      |     
      textarea#inputDescription.form-control(name="description", placeholder="Write a description here if you fancy") #{imageToEdit.description}
    .checkbox
      label
        if imageToEdit.private
          input(type="checkbox", name="private", value="1", checked)
        else 
          input(type="checkbox", name="private", value="1")
        |  Private
    input(type="hidden", name="_csrf", value="#{csrfToken}")
    |   
    a.btn.btn-default(href="/admin/galleries/#{gallery._id}/images/#{imageToEdit._id}", style="margin-right: 5px;") Cancel
    button#editImageBtn.btn.btn-success(type="submit") Save
    br
    br
    div#editImageError(class="alert alert-danger hidden", role="alert")
      b
        |	Ops! 
      span.message
        | No Errors

block appendjs
  script.
    window.csrf = '#{csrfToken}';
    window.galleryId = '#{gallery._id}';
    window.urlreload = '/admin/galleries/#{gallery._id}/images/#{imageToEdit._id}';
  script(src="/public/files/vendor/jquery-ui/jquery-ui.min.js")
  script(src="/public/files/vendor/blueimp-file-upload-node/js/jquery.iframe-transport.js")
  script(src="/public/files/vendor/blueimp-file-upload-node/js/jquery.fileupload.js")
  script(src="/public/files/vendor/cropper/dist/cropper.min.js")
  script(src="/public/galleries/admin/index.js")
